@page "/"

@using TicTacToe.Common.Core
@using TicTacToe.Data.Constants
@inject GameFactory Factory

<PageTitle>Index</PageTitle>

@if (Game is null)
{
    <div>Loading...</div>
}
else
{
    <div class="container-fluid board">
        <button id="btn-new-game" class="btn-primary" onclick="@StartGame">
            New Game
        </button>
        <br/>
        <div class="mt-2 mb-2"> 
            <span id="clock" style="font-weight: bold; font-size: xx-large;">@_clock</span>
        </div>
        
        @if (Result == GameResult.PlayerWon)
        {
            <div class="alert alert-success">@Message</div>
            
        }
        else if (Result == GameResult.ComputerWon)
        {
            <div class="alert alert-danger">@Message</div>
        }
        else
        {
            <div class="alert alert-info">@Message</div>
        }

        <div class="grid-container">
            @foreach (var square in Game.Board.Squares)
            {
                <div id="@square.Id" class="grid-item" onclick="@(() => PlayerMove(square))">@square</div>
            }
        </div>
        <div class="container-fluid opponents">
            <div class="row">
                <div class="btn-group" role="group" aria-label="Opponent">
                    <button type="button" class="btn btn-@(Opponent == "Tipsy" ? "success" : "secondary")" onclick="@(() => SetOpponent("Tipsy"))">Tipsy</button>
                    <button type="button" class="btn btn-@(Opponent == "Genghis" ? "success" : "secondary")" onclick="@(() => SetOpponent("Genghis"))">Genghis</button>
                    <button type="button" class="btn btn-@(Opponent == "Boris" ? "success" : "secondary")" onclick="@(() => SetOpponent("Boris"))">Boris</button>
                    <button type="button" class="btn btn-@(Opponent == "Sima Yi" ? "success" : "secondary")" onclick="@(() => SetOpponent("Sima Yi"))">Sima Yi</button>
                </div>
            </div>
        </div>
    </div>
}